*{
	margin:0;
	padding:0;
	list-style: none;
}
body
{
	font-family:sans-serif;
}
#nav-bar
{
	background-color:#750d5b;
	position: sticky;
	top:0;
	z-index:10;
	float: right;
}
.nav-link:hover{
    background-color:rgb(177, 54, 150);
}

.navbar
{
	
    padding: 0 !important;
}
navbar-brand img
{
	height:40px;
	padding-left:20px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color:#fff !important;
font-weight:600;
float:right;
text-align:left;
}
.fa-bars
{
	color:#fff;
	font-size:30p !important;
}
.navbar-toggler
{
	outline:none !important;
}
/*---banner section--*/
#main
{
	text-align: center;
   background-color:#7254f5;
   color: whitesmoke;
padding-top:5%;	
}


.container h1 img{
	padding-bottom: 10px;
}


/*---service section---*/
#features1
{
	text-align: center;
	padding: 10% 15%;
	color: rgb(245, 236, 236);
	background-image: linear-gradient(135deg, rgb(252, 16, 76),rgb(244, 3, 176));
}
  #features
 {
     text-align: center;
     padding: 10% 15%;
    background-image: url("imgs/bankbackground.jpg");
}
 .features1 h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
}

.features h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
}
.title::before
{
	content:'';
	background:#0b070c;
	height:5px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	transform:translatey(63px);
}*/
.title::after
{
	content:'';
	background:#7b1798;
	height:10px;
	width:50px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom:40px;
    display: block;
	transform:translatey(8px);
}
#features .btn-primary
{
	box-shadow:none;
	padding:10px 25px;
	border:none;
	align-content: center;
	background-image:linear-gradient(to right,#a517ba,#5f1782)
}
/* Action*/
  #action{
	/* background-image: repeating-linear-gradient(45deg, rgba(0,0,0,0.3) 0px, rgba(0,0,0,0.3) 16px,transparent 16px, transparent 32px,rgba(0,0,0,0.08) 32px, rgba(0,0,0,0.08) 48px,rgba(0,0,0,0.14) 48px, rgba(0,0,0,0.14) 64px,rgba(0,0,0,0.05) 64px, rgba(0,0,0,0.05) 80px,transparent 80px, transparent 96px,rgba(0,0,0,0.21) 96px, rgba(0,0,0,0.21) 112px,rgba(0,0,0,0.18) 112px, rgba(0,0,0,0.18) 128px,rgba(0,0,0,0.21) 128px, rgba(0,0,0,0.21) 144px,rgba(0,0,0,0.29) 144px, rgba(0,0,0,0.29) 160px,rgba(0,0,0,0.08) 160px, rgba(0,0,0,0.08) 176px,rgba(0,0,0,0.3) 176px, rgba(0,0,0,0.3) 192px,rgba(0,0,0,0.23) 192px, rgba(0,0,0,0.23) 208px),repeating-linear-gradient(135deg, transparent 0px, transparent 3px,rgba(0,0,0,0.1) 3px, rgba(0,0,0,0.1) 6px,rgba(0,0,0,0.03) 6px, rgba(0,0,0,0.03) 9px,rgba(0,0,0,0.09) 9px, rgba(0,0,0,0.09) 12px,rgba(0,0,0,0.08) 12px, rgba(0,0,0,0.08) 15px,rgba(0,0,0,0.1) 15px, rgba(0,0,0,0.1) 18px,rgba(0,0,0,0.1) 18px, rgba(0,0,0,0.1) 21px,rgba(0,0,0,0.04) 21px, rgba(0,0,0,0.04) 24px,transparent 24px, transparent 27px,rgba(0,0,0,0.03) 27px, rgba(0,0,0,0.03) 30px,rgba(0,0,0,0.03) 30px, rgba(0,0,0,0.03) 33px,rgba(0,0,0,0.01) 33px, rgba(0,0,0,0.01) 36px,rgba(0,0,0,0.1) 36px, rgba(0,0,0,0.1) 39px,rgba(0,0,0,0.06) 39px, rgba(0,0,0,0.06) 42px,transparent 42px, transparent 45px,rgba(0,0,0,0.03) 45px, rgba(0,0,0,0.03) 48px,rgba(0,0,0,0.05) 48px, rgba(0,0,0,0.05) 51px,rgba(0,0,0,0.03) 51px, rgba(0,0,0,0.03) 54px),repeating-linear-gradient(90deg, rgba(0,0,0,0.18) 0px, rgba(0,0,0,0.18) 14px,transparent 14px, transparent 28px,rgba(0,0,0,0.3) 28px, rgba(0,0,0,0.3) 42px,rgba(0,0,0,0.25) 42px, rgba(0,0,0,0.25) 56px,rgba(0,0,0,0.07) 56px, rgba(0,0,0,0.07) 70px,rgba(0,0,0,0.23) 70px, rgba(0,0,0,0.23) 84px,rgba(0,0,0,0.02) 84px, rgba(0,0,0,0.02) 98px,rgba(0,0,0,0.04) 98px, rgba(0,0,0,0.04) 112px,rgba(0,0,0,0.07) 112px, rgba(0,0,0,0.07) 126px,rgba(0,0,0,0.21) 126px, rgba(0,0,0,0.21) 140px,rgba(0,0,0,0.15) 140px, rgba(0,0,0,0.15) 154px,transparent 154px, transparent 168px,rgba(0,0,0,0.12) 168px, rgba(0,0,0,0.12) 182px,rgba(0,0,0,0.13) 182px, rgba(0,0,0,0.13) 196px,rgba(0,0,0,0.27) 196px, rgba(0,0,0,0.27) 210px),repeating-linear-gradient(0deg, rgba(0,0,0,0.17) 0px, rgba(0,0,0,0.17) 14px,rgba(0,0,0,0.26) 14px, rgba(0,0,0,0.26) 28px,rgba(0,0,0,0.06) 28px, rgba(0,0,0,0.06) 42px,rgba(0,0,0,0.14) 42px, rgba(0,0,0,0.14) 56px,transparent 56px, transparent 70px,rgba(0,0,0,0.22) 70px, rgba(0,0,0,0.22) 84px,rgba(0,0,0,0.1) 84px, rgba(0,0,0,0.1) 98px,transparent 98px, transparent 112px,rgba(0,0,0,0.15) 112px, rgba(0,0,0,0.15) 126px,transparent 126px, transparent 140px,rgba(0,0,0,0.03) 140px, rgba(0,0,0,0.03) 154px,rgba(0,0,0,0.03) 154px, rgba(0,0,0,0.03) 168px,rgba(0,0,0,0.06) 168px, rgba(0,0,0,0.06) 182px,rgba(0,0,0,0.17) 182px, rgba(0,0,0,0.17) 196px,rgba(0,0,0,0.2) 196px, rgba(0,0,0,0.2) 210px),linear-gradient(135deg, rgb(252, 16, 76),rgb(244, 3, 176));*/

    padding: 7% 15%;
    text-align: center;
    line-height: 1.5;
    color: black;
  }
  .main{
    font-size: 2rem;
    line-height: 1.5;
    padding: 2px 0px;
  }
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.butt{
	background-color:rgb(236, 18, 18); /* Green */
  border: none;
  color: rgb(250, 246, 11);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}
.butt:hover{
	background-color: rgb(211, 39, 119);
}


/* footer */
#footer{
	color:rgb(226, 40, 40);
    padding: 4% 4%;
	display: flex;
	
	height: 30vh;
	text-align: center;
	align-items: center;
	justify-content: center;
	
}
footer i{
	display: flex;
}
footer i{
	position: relative;
	display: inline;
	color:rgb(233, 161, 227);
	font-size: 30px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	border-radius: 50%;
	margin: 0 15px;
	text-align: center;
	cursor: pointer;
}
footer i:before{
	position: absolute;
	content: '';
	top: 0;
	left:0;
	height: 70%;
	width:100%;
	padding-top: 11px;
	text-align: center;
	border-radius: 50%;
	background:#8f0326;
	transform: scale(0.9);
}
i:hover:before{
	transform: scale(1.2);
	box-shadow: 0 0 15px #f80b03;
}
